body {
font-family: 'Roboto', sans-serif;
}

#navbar, #container {
background-color: var(--success);
color: var(--white)
}

#button {
background-color: var(--light);
border: var(--grey);
}

#container {
font-weight: 500;
}

.card-text {
font-family: 'Roboto';
}

.price {
display: flex;
}

.price a {
justify-content: flex-end;
}

footer img {
width: 82px;
height: 24px;
} 

